<!-- filepath: /home/hp/Documents/Codage_Heritage/level_two/first_app/templates/first_app/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1>Welcome to the index App</h1>
        <nav>
                <a href="{% url 'first_app:index' %}">Home</a>
                <a href="{% url 'first_app:form_name_view' %}">Form</a>
                <a href="{% url 'first_app:users' %}">Users</a>
                <a href="{% url 'first_app:userform' %}">User Form</a>
                <a href="{% url 'admin:index' %}">Admin</a>
        </nav>
    </header>
    <main>
        <p>This is the main content of the app.</p>
        <!-- <h2>adding dict itms: {{ my_variable }}</h2> -->
        <div class="djangotwo">
            {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thead>
                <tbody>
                    {% for record in access_records %}
                    <tr>
                        <td>{{ record.name }}</td>
                        <td>{{ record.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No access records found</p>
            {% endif %}
        </div>
    </main>
    <footer>
        <p>&copy; 2023 First App. All rights reserved.</p>
    </footer>
</body>

</html>