<!-- filepath: /home/hp/Documents/Codage_Heritage/level_two/first_app/templates/first_app/index.html -->
{% extends 'first_app/base.html' %}

{% block title %}Index - First App{% endblock %}

{% block content %}
<br>
<p>This is the main content of the app.</p>
<p>adding dict itms:{{ my_variable|cut:'Hello, world. ' }}</p>
<div class="djangotwo">
    {% if access_records %}
    <table>
        <thead></thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
        </thead>
        <tbody>
            {% for record in access_records %}
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No access records found</p>
    {% endif %}
</div>
<br>
<br>
{% endblock %}
